[submodule "js"]
	path = js
	url = https://github.com/ordered-json/javascript.git
[submodule "rust"]
	path = rust
	url = https://github.com/ordered-json/rust.git
[submodule "go"]
	path = go
	url = https://github.com/ordered-json/go.git
[submodule "php"]
	path = php
	url = https://github.com/ordered-json/php.git
[submodule "php-extension"]
	path = php-extension
	url = https://github.com/ordered-json/php-extension.git
